*.pyc
.DS_Store
__pycache__/
results/
demo/alu-chisel/generated/
demo/alu-chisel/target/
demo/alu-chisel/project/target/streams/
gurobi.log
*.ini
!config.sample.ini
!config.sample1.ini
!config.sample2.ini
!config.sample3.ini


